<body class="bg-Login">


  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <!-- <app-header></app-header> -->

      <!-- Icon -->
      <div class="fadeIn first">

        <img class="logoEntidad" src="../../../../assets/img/logo-bancolombiaCombinado.png" id="icon" alt="User Icon" />
        <hr />
      </div>

      <!-- Login Form -->

      <div>
        <h5 class="text-center text-color">Recuperar contraseña</h5>
        <p class="text-center">Por favor ingresa tu correo electrónico y te enviaremos las instrucciones de
          recuperación.</p>
      </div>
      <form autocomplete="off">
        <div class="row">
          <div class="col-md-12">

            <div class="wrap-input100 m-b-16">
              <input class="input100" type="text" placeholder="Correo Electrónico" autofocus>
              <span class="focus-input100"></span>
            </div>

          </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="container" style="margin-left: 14%; margin-top: 3%; margin-bottom: 3%;">
                    <re-captcha siteKey="6LcOuyYTAAAAAHTjFuqhA52fmfJ_j5iFk5PsfXaU"></re-captcha>
                  </div>
            </div>
        </div>


        <div class="row">
          <div class="col-md-12">
            <div class="mda-form-group">
              <button type="submit" class="btn btn-color">
                Recuperar contraseña&nbsp;
              </button>
            </div>
          </div>
        </div>

        <div id="formFooter">
        
            <div class="row">
                <div class="col-md-12">
                    <li [routerLinkActive]="['link-active']">
                        <a class="underlineHover" [routerLink]="['/login']"> Regresar al Login!</a>
                    </li>
                </div>
            </div>
          </div>



      </form>




    </div>
  </div>

  <app-footer class="fadeInDown"></app-footer>
</body>
