.btn-right {
  float: right;
}

.btn-ubiety {
  margin-top: 30px;
}

a:hover {
  cursor: pointer;
}

.dt-container {
  margin-top: 4%;
}

.card {
  width: 100% !important;
}

.custom-file-input~.custom-file-label::after {
  content: "Elegir archivo";
}

.header-color {
  color: white;
  background-color: #00448d;
  opacity: .7;
  border-top-left-radius: .0rem;
  border-top-right-radius: .0rem;
}

.close {
  color: white;
}

.modal-content {
  border: 3px solid #4d7caf; /* */
}
