<div class="container-fluid container-main">
  <h4>Módulo :: Editar Contacto Proyecto</h4>
  <p class="text-danger">Los campos marcados con asterisco (*) son requeridos.</p>
  <hr />

  <form #formEditContacts="ngForm" (ngSubmit)="onSubmit(formEditContacts)" autocomplete="off">
    <div class="row">


      <div class="col-md-4">
        <div class="form-group">
          <label>NOMBRE CONSTRUCTORA *</label>
          <ng-multiselect-dropdown [placeholder]="'Seleccionar'" [data]="dropdownListConstructor"
            [(ngModel)]="selectedItemsConstructor" name="inputSearchConstructor"
            [settings]="dropdownConstructorSettings" (onSelect)="onItemSelect($event)"
            (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onSelectAll($event)" (onDeSelect)="onDeselect($event)">
          </ng-multiselect-dropdown>
        </div>
      </div>

      <div class="col-md-4">

        <div class="form-group">
          <label>NOMBRE PROYECTO *</label>
          <ng-multiselect-dropdown [placeholder]="'Seleccionar'" [data]="dropdownListProjects"
          [(ngModel)]="selectedItemsProjects" name="inputSearchProjects"
            [settings]="dropdownProjectSettings" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)"
            (onDeSelectAll)="onSelectAll($event)" (onDeSelect)="onDeselect($event)">
          </ng-multiselect-dropdown>
        </div>

      </div>

      <div class="col-md-2 btn-ubiety">
        <button type="submit" class="btn btn-primary">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
            viewBox="0 0 16 16">
            <path
              d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
          </svg>
          Consultar
        </button>
      </div>

    </div>
  </form>


  <!-- DataGrid -->
  <div class="inner-container dt-container" [hidden]="!showDatagrid">
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table row-border hover">
      <thead>
        <tr>
          <th>NOMBRE CONTACTO</th>
          <th>TELÉFONO FIJO</th>
          <th>CELULAR</th>
          <th>CORREO ELECTRÓNICO</th>
          <th>EDITAR</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of ListContacts">
          <td>{{ item.NombreContacto }}</td>
          <td>{{ item.TelefonoFijo }}</td>
          <td>{{ item.Celular }}</td>
          <td>{{ item.Email }}</td>
          <td>
            <button class="btn btn-link btn-cursor" data-toggle="modal" data-target="#EditarContacto">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-pencil-square" viewBox="0 0 16 16">
                <path
                  d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                <path fill-rule="evenodd"
                  d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
              </svg>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>



</div>


<!-- EditarContacto -->
<div class="modal fade" id="EditarContacto" tabindex="-1" aria-labelledby="EditarContactoModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-responsive" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Editar contacto</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">


      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">

            <div class="form-group">
              <label>PROYECTO *</label>
              <input type="text" class="form-control"  disabled />
          </div>

          <div class="form-group">
              <label>CONSTRUCTORA *</label>
              <input type="text" class="form-control" disabled />
          </div>

            <div class="form-group">
              <label>REGIÓN *</label>
              <select class="form-control">
                <option disabled selected> Seleccionar una opción </option>
              </select>
            </div>

            <div class="form-group">
              <label>NOMBRE CONTACTO *</label>
              <input type="text" class="form-control" placeholder="Campo alfanúmerico" maxlength="51" />

            </div>

            <div class="form-group">
              <label>E-MAIL *</label>
              <input type="text" placeholder="Ingrese correo electrónico válido" class="form-control"
                maxlength="51" />

            </div>


          </div>

          <div class="col-md-6">

            <div class="form-group">
              <label>TIPO DE CONTACTO *</label>
              <select class="form-control">
                <option disabled selected> Seleccionar una opción </option>

              </select>
            </div>

            <div class="form-group">
              <label>DIRECCIÓN *</label>
              <input type="text" placeholder="Campo alfanúmerico" class="form-control" maxlength="51" />

            </div>

            <div class="form-group">
              <label>TELÉFONO FIJO *</label>
              <input type="text" placeholder="Ingresar solo números" maxlength="8" class="form-control" />

            </div>

            <div class="form-group">
              <label>CELULAR *</label>
              <input type="text" placeholder="Ingresar solo números" class="form-control" maxlength="11" />

            </div>



          </div>




        </div>
      </div>




    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary">Registrar</button>


    </div>
  </div>
</div>
</div>