<div (window:resize)="onResize()">


    <app-header></app-header>

    <!-- top navbar-->

    <!-- <div class="container"> -->




    <!-- </div> -->
    <!-- sidebar-->



    <!-- <div class="row">
        <div class="col-md-2" style="background-color: greenyellow;">
          <app-sidebar></app-sidebar>
        </div>
        <div class="colmd-10" style="background-color:yellow;">
          <router-outlet></router-outlet>
        </div>
      </div> -->


    <!-- <div class="wrapper">
      

      <div id="sidebar">
        <app-header></app-header>
        <app-sidebar></app-sidebar>
      </div>
      <div id="content">
        <router-outlet></router-outlet>
      </div>

    </div> -->





    <!-- Page footer-->
    <!-- <app-footer *ngIf="bIsLoggedIn"></app-footer> -->


</div>



