.row {
  /* display: block !important; */
  margin-right: 0px !important;
  margin-left: 0px !important;
}

/* ordenador portátil medio */
@media (min-width: 1366px) { 
  #wrapper {
    height: 90vh;
    /* Add height */
    overflow-y: auto;
    /* Add overflow-y */
    overflow-x: hidden;
    /* Add overflow-x */
  }
}

/* Extra large devices (large desktops, 1920px and up) */
@media screen and (min-width: 1920px) {
  #wrapper {
    height: 93vh;
    /* Add height */
    overflow-y: auto;
    /* Add overflow-y */
    overflow-x: hidden;
    /* Add overflow-x */
  }
}


body {
  overflow-y: hidden;
}
